<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List Home</title>
</head>
<body>
<h1>Product List Home</h1>
<ul>
    {{#each products}}
        <li>{{this.title}} - ${{this.price}}</li>
    {{/each}}
</ul>
</body>
</html>